body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
}
header {
    font-family:Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: wavy;
    background-color: #5ed3d3;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    padding:10px;
    background-color: white;
    
}
nav a {
    color: grey;
    text-decoration: none;
    padding: 1rem;
    border:none;
    border-radius:150px;
    margin: 0 0.5rem;
    transition: background 0.3s;
}
nav a:hover {
    background:azure
}

section {
    padding: 2rem;
    max-width: 1200px;
    margin: 2rem auto;
    background: white;
    border-top: 3px solid rgb(86, 205, 235);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

section:hover {
    background-color: #5ed3d3;
}
#text-image-section {
    background-color: white;
    font-size:larger;
    font-style: italic;
    padding: 10rem;
    border:none;
    box-shadow:none;
    margin:0;
}

#text-image-section:hover {
    background-color: white;
}

#internship-section{
    background-color: white;
    border-top: 2px solid black;
    border-radius: 20px;
}
.image-text-section {
    display: flex;
    align-items: center;
}
.image-text-section img {
    height: 300px;
    width: 300px;
    border-radius: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.image-text-section div {
    flex: 1;
}

.header {
    text-align: right;
}


h2 {
    color: black;
}
footer {
    text-align: center;
    background: #333;
    color: white;
    padding: 1rem 0;
    margin-top: 2rem;
}